/* This stylesheet is used to style the directory taxonomy edit admin page. */
#the-list tr { display: none; }
.expanded { background: none; }
tr.level1 td.column-name { padding-left:35px; } 
tr.level2 td.column-name { padding-left:70px; } 
tr.level3 td.column-name { padding-left:105px; } 
tr.level4 td.column-name { padding-left:140px; } 
tr.level5 td.column-name { padding-left:175px; } 

/*#the-list td.column-name::before { content:  "\002B"; cursor: pointer; cursor: hand; border: 1px solid black; padding: 2px 5px; border-radius: 5px; margin-right: 5px;  }
#the-list td.column-name:hover::before { background-color: #000; color: #f0f0f0; }*/